* {
  box-sizing: border-box;
}

body {
  font-family: $font-Open-Sans;
}

a {
  text-decoration: none;
}

h2 {
  font-family: $font-Raleway;
  font-size: 2.25rem;
}

.container {
  width: 1352px;
  margin: 0 auto;
}

.logo {
  font-family: $font-Raleway;
  font-size: 2rem;
  font-weight: 300;
  color: $color-primary;
}